@import url(http://fonts.googleapis.com/css?family=Leckerli+One|Oxygen:400,700,300);

html, 
body {
    height: 100%;
    color: #121212;
}
body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: #121212;
    -webkit-font-smoothing: antialiased;
}
/*typography bootstrap overrides*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Leckerli One', cursive;
    font-weight: 700;
    line-height: 1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 27px;
    
}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 13px;
}
p{
    line-height: 25px;
    font-weight: 400;
}
a {
    background: transparent;
    outline: none; 
    text-decoration: none;	
    -webkit-transition: 0.4s cubic-bezier(0.25,.46,.45,.94);
    transition: 0.4s cubic-bezier(0.25,.46,.45,.94);
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
}
a:active,
a:hover,
a:focus {
    outline: 0; 
    background: transparent;
    color: #35bdf6 !important;
    text-decoration: none;	  
}

p {
    line-height: 28px;
}

blockquote {
	border-color: #16a085;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*===================================================================================*/
/*  Header
/*===================================================================================*/
.header .container {
  position: relative;
}
.header .logo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.header .logo h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  
}
.header .logo h1 a,
.header .logo h1 a:hover,
.header .logo h1 a:focus,
.header .logo h1 a:active {
  color: #333333;
  text-decoration: none;
}
.header .block-search {
  margin-top: 50px;
}
.header .block-search .input-group .form-control {
  padding: 7px 12px;
  box-shadow: none;
}
.header .block-search .input-group .form-control::-moz-placeholder {
  color: #ffffff;
}
.header .block-search .input-group .input-group-btn .icon {
  color: #ffffff;
}
.header .block-header-links {
  margin-top: 45px;
  margin-right: -15px;
}
@media (max-width: 768px) {
  .header .block-header-links .btn-group {
    text-align: center;
    margin-right: 0;
  }
}
 
@media (max-width: 768px) {
  .header .block-header-links   .btn-group {
    float: none;
    display: inline-block;
  }
}
 
.header .btn-shopping-cart {
  position: absolute;
  right: 0;
  top: -5px;
  display: block;
  font-size: 18px;
  padding: 14.3px 22.3px;
}
.header .btn-shopping-cart img {
  float: left;
  margin-right: 12px;
}
.header .btn-shopping-cart:hover {
  text-decoration: none;
}
.header .navbar-primary {
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0;
  margin-bottom: 0;
}
.header .navbar-primary .collapsing {
  primary-color-light-webkit-transition: none 0;
  -moz-transition: none 0;
  transition: none 0;
}
.header .navbar-primary .navbar-toggle {
  border-color: #fff;
  border-radius: 50%;
  border-width: 2px;
  height: 40px;
  width: 40px;
  padding: 7px;
}
.header .navbar-primary .navbar-toggle .icon-bar {
  background-color: #fff;
}
.header .navbar-primary .nav {
  margin-top: -5px;
}
.header .navbar-primary .nav > li > a {
  font-weight: 700;
  color: #FFF;
  padding: 17.5px 22.5px;
  border-top: 5px solid transparent;
}
.header .navbar-primary .nav > li > .dropdown-menu {
  color: #FFF;
  border-radius: 0;
}
.header .navbar-primary .nav > li > .dropdown-menu > li > a {
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.header .navbar-primary .navbar-btn {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
.animate-dropdown .open > .dropdown-menu,
.animate-dropdown .open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
  #navbar-primary-collapse {
    max-height: none;
  }
  #navbar-primary-collapse .nav {
    margin-top: 0;
  }
  .header .nav-header-link {
    margin-top: 15px;
    margin-bottom: 10px;
    float: none !important;
  }
  .header .btn-shopping-cart {
    padding: 12px;
  }
  .header .btn-shopping-cart img {
    margin-right: 0;
  }
}

.header {
  border-top: 5px solid #17c7be;
}
.header .nav-header-link > li > a,
.header .nav-header-link > li > a:hover,
.header .nav-header-link > li > a:focus,
.header .nav-header-link > li > a:active {
  color: #0e7974;
}
.header .nav-header-link > li:after {
  border-right: 3px solid #4deae2;
}
.header .nav-header-link .total-cart-amount {
  color: #17c7be;
}
.header .btn-shopping-cart {
  background-color: #17c7be;
  color: #FFF;
}
.header .navbar-primary {
  background-color: #17c7be;
  color: #FFF;
}
.header .navbar-primary .nav > li > a:hover,
.header .navbar-primary .nav > li > a:focus,
.header .navbar-primary .nav > li > a:active {
  background-color: #16beb5;
  border-top: 5px solid #13a79f;
}
.header .navbar-primary .nav > li > .dropdown-menu {
  background-color: #16beb5;
}
.header .navbar-primary .nav > li > .dropdown-menu > li > a:hover {
  background-color: #13a79f;
}
.header .navbar-primary .nav .open > a,
.header .navbar-primary .nav .open > a:hover,
.header .navbar-primary .nav .open > a:focus,
.header .navbar-primary .nav .open > a:active {
  background-color: #16beb5;
  border-top: 5px solid #13a79f;
} 
/*
#page {
	background-color: #f2f2f2;
}
*/

/* Tone down field labels in the comments section and wherever else */
label {
	font-weight: 300;
}

/* 
 * FULL-WIDTH SECTIONS
 */
.section {
	padding-top: 35px;
	padding-bottom: 35px;
}

/* Bootstrap grids (rows) need this if not in a container */
.section.fullwidth {
	padding-left: 15px;
	padding-right: 15px;
}
.section.nopadding {
	padding-top: 0;
	padding-bottom: 0;
}
.section.nopadding-top {
	padding-top: 0;
}
.section.nopadding-bottom {
	padding-bottom: 0;
}
.section.padding-top {
	padding-top: 35px;
}
.section.padding-bottom {
	padding-bottom: 35px;
}
.section.border-bottom {
	border-bottom: #bdc3c7 solid 1px;
}
.section.border-bottom-thick {
	border-bottom: #bdc3c7 solid 5px;
}

/* 
 * COLORED BACKGROUNDS FOR SECTIONS
 */

.white, 
.bg-white {
	background-color: #fff;
}
.color-white {
	color: #fff;
}

.offwhite, 
.bg-offwhite {
	background-color: #f2f2f2;
}
.color-offwhite {
	color: #f2f2f2;
}

.lightgray, 
.bg-lightgray {
	background-color: #ebebeb;
}
.color-lightgray {
	color: #ebebeb;
}

.gray, 
.bg-gray {
	background-color: #e7e7e7;
}
.color-gray {
	color: #e7e7e7;
}

.darkgray, 
.bg-darkgray {
	background-color: #e0e0e0;
}
.color-darkgray {
	color: #e0e0e0;
}

.lightgreen, 
.bg-lightgreen {
    background-color: #1abc9c;
	color: #fff;
}
.color-lightgreen {
    color: #1abc9c;
}
.lightgreen h1, 
.lightgreen h2, 
.lightgreen h3, 
.lightgreen h4, 
.lightgreen h5, 
.lightgreen h6, 
.bg-lightgreen h1, 
.bg-lightgreen h2, 
.bg-lightgreen h3, 
.bg-lightgreen h4,
.bg-lightgreen h5, 
.bg-lightgreen h6 {
	color: #fff;
}

.darkgreen, 
.bg-darkgreen {
    background-color: #16a085;
	color: #fff;
}
.color-darkgreen {
    color: #16a085;
}
.darkgreen h1, 
.darkgreen h2, 
.darkgreen h3, 
.darkgreen h4, 
.darkgreen h5, 
.darkgreen h6, 
.bg-darkgreen h1, 
.bg-darkgreen h2, 
.bg-darkgreen h3, 
.bg-darkgreen h4, 
.bg-darkgreen h5, 
.bg-darkgreen h6 {
	color: #fff;
}

.yellow, 
.bg-yellow {
    background: #f1c40f;
    color: #fff;
}
.yellow h1, 
.yellow h2, 
.yellow h3, 
.yellow h4, 
.yellow h5, 
.yellow h6, 
.bg-yellow h1, 
.bg-yellow h2, 
.bg-yellow h3, 
.bg-yellow h4, 
.bg-yellow h5, 
.bg-yellow h6 {
	color: #fff;
}
.yellow p, .bg-yellow p {
    font-weight: 500
}

.blue, 
.bg-blue {
	background-color: #3498db;
	color: #fff;
}
.color-blue {
	color: #3498db;
}
.blue h1, 
.blue h2, 
.blue h3, 
.blue h4, 
.blue h5, 
.blue h6, 
.bg-blue h1, 
.bg-blue h2, 
.bg-blue h3, 
.bg-blue h4, 
.bg-blue h5, 
.bg-blue h6 {
	color: #fff;
}

.darkblue,
.bg-darkblue {
	background-color: #2980b9;
	color: #fff;
}
.color-darkblue {
	color: #2980b9;
}
.darkblue h1, 
.darkblue h2, 
.darkblue h3, 
.darkblue h4, 
.darkblue h5, 
.darkblue h6, 
.bg-darkblue h1, 
.bg-darkblue h2, 
.bg-darkblue h3, 
.bg-darkblue h4, 
.bg-darkblue h5, 
.bg-darkblue h6 {
	color: #fff;
}

.midnightblue, 
.bg-midnightblue {
	background-color: #34495e;
	color: #fff;
}
.color-midnightblue {
	color: #34495e;
}
.midnightblue h1, 
.midnightblue h2, 
.midnightblue h3, 
.midnightblue h4, 
.midnightblue h5, 
.midnightblue h6, 
.bg-midnightblue h1, 
.bg-midnightblue h2, 
.bg-midnightblue h3, 
.bg-midnightblue h4, 
.bg-midnightblue h5, 
.bg-midnightblue h6 {
	color: #fff;
}

.red, .bg-red {
	background-color: #ff7878;
	color: #fff;
}
.color-red {
	color: #ff7878;
}
.red h1, 
.red h2, 
.red h3, 
.red h4, 
.red h5, 
.red h6, 
.bg-red h1, 
.bg-red h2, 
.bg-red h3, 
.bg-red h4, 
.bg-red h5, 
.bg-red h6 {
	color: #fff;
}

.almostblack, 
.bg-almostblack {
	background-color: #2f2f2f;
	color: #fff;
}
.color-almostblack {
	color: #2f2f2f;
}
.almostblack h1, 
.almostblack h2, 
.almostblack h3, 
.almostblack h4, 
.almostblack h5, 
.almostblack h6, 
.bg-almostblack h1, 
.bg-almostblack h2, 
.bg-almostblack h3, 
.bg-almostblack h4, 
.bg-almostblack h5, 
.bg-almostblack h6 {
	color: #fff;
}

.notquiteblack, 
.bg-notquiteblack {
	background-color: #222;
	color: #fff;
}
.color-notquiteblack {
	color: #222;
}
.notquiteblack h1, 
.notquiteblack h2, 
.notquiteblack h3, 
.notquiteblack h4, 
.notquiteblack h5, 
.notquiteblack h6, 
.bg-notquiteblack h1, 
.bg-notquiteblack h2, 
.bg-notquiteblack h3, 
.bg-notquiteblack h4, 
.bg-notquiteblack h5, 
.bg-notquiteblack h6 {
	color: #fff;
}

.black, 
.bg-black {
	background-color: #000;
	color: #fff;
}
.color-black {
	color: #000;
}
.black h1, 
.black h2, 
.black h3, 
.black h4, 
.black h5, 
.black h6, 
.bg-black h1, 
.bg-black h2, 
.bg-black h3, 
.bg-black h4, 
.bg-black h5, 
.bg-black h6 {
	color: #fff;
}

/* Set the icons to white for all dark-colored sections */
.lightgreen i, 
.bg-lightgreen i, 
.darkgreen i, 
.bg-darkgreen i, 
.blue i, 
.bg-blue i, 
.midnightblue i, 
.bg-midnightblue i, 
.yellow i, 
.bg-yellow i,
.red i, 
.bg-red i, 
.almostblack i, 
.bg-almostblack i, 
.black i, 
.bg-black i {
	color: #fff;
}

/* Set the link color to white and underlined for certain background colors */
.lightgreen a:not(.btn), 
.bg-lightgreen a:not(.btn), 
.darkgreen a:not(.btn), 
.bg-darkgreen a:not(.btn), 
.yellow a:not(.btn), 
.bg-yellow a:not(.btn), 
.blue a:not(.btn), 
.bg-blue a:not(.btn), 
.darkblue a:not(.btn), 
.bg-darkblue a:not(.btn), 
.red a:not(.btn), 
.bg-red a:not(.btn) {
	color: #fff;
	text-decoration: underline;
}
.lightgreen a:hover:not(.btn), 
.bg-lightgreen a:hover:not(.btn), 
.darkgreen a:hover:not(.btn), 
.bg-darkgreen a:hover:not(.btn), 
.yellow a:hover:not(.btn), 
.bg-yellow a:hover:not(.btn), 
.blue a:hover:not(.btn), 
.bg-blue a:hover:not(.btn), 
.darkblue a:hover:not(.btn), 
.bg-darkblue a:hover:not(.btn), 
.red a:hover:not(.btn), 
.bg-red a:hover:not(.btn) {
	color: #7b7b7b;
}

.form-control {
	color: #555;
}

/* Set input field focus color to green */
/*.form-control:focus,
textarea#comment:focus {*/
/*input:focus,
textarea:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(109, 233, 102, 0.6); */
   /*-webkit-appearance: none !important;*/
/*   outline: 0;
}*/

/* Force search field to not be rounded on iOS devices */
input.search-field {
	-webkit-appearance: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* 
 * SET INPUT BUTTONS TO LOOK LIKE BTN-PRIMARY (GREEN)
 */
button,
html input[type="button"],
input[type="submit"] {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    background-image: none;
	font-size: 16px;
	line-height: 22px;
	padding: 6px 12px;
    border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    outline: 0;
}
button:hover, 
button:focus,
html input[type="button"]:hover, 
html input[type="button"]:focus,
input[type="submit"]:hover, 
input[type="submit"]:focus {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    outline: 0;
}

/* Bootstrap uses "active" style on the <li>, but WordPress paginate_links() uses 
 * "current" in a <span> tag on the link. Also set the hover to match the primary button
 * color. 
 */
.pagination>li>a, 
.pagination>li>span, 
span.page-numbers.current {
	color: #16a085;
}
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus,
.pagination>li>span:focus, 
span.page-numbers.current {
	z-index: 2;
	color: #fff;
    background-color: #16a085;
    border-color: #16a085;
}

/* Get rid of gradient on carousel left and right */
.carousel-control.left, .carousel-control.right {
	background-image: none;
	background-repeat: none;
}
.carousel-caption,
.carousel-caption h4,
.carousel-caption p {
	font-weight: bold;
	 
}
.carousel-caption {
	text-shadow: none;
	background-color: none;
	color: #fff;
	opacity: .75;
	font-weight: bold;
}
.carousel-caption a {
	color: #fff;
	text-decoration: none;
	
}
.carousel-caption a:hover,
.carousel-caption a:focus {
    color: #bdc3c7; /*silver*/
}

.sticky .entry-title:after {
	background-color: #1abc9c;
	color: #fff;
}

.carousel-caption h2{
	color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	 
	
}
.bypostauthor {
}

/* Push the carousel indicators down below the image or content */
.carousel-indicators {
	bottom: -35px;
}

/* Make user profile pics (avatars) circles */


img.avatar.thumbnail {
	border: none;
	padding: 0;
}

/* 
 * NEW STUFF ADDED, SUCH AS ADDITIONAL BUTTONS
 */

/* New button that is inverted (hollow) so works on any dark background */
a.btn.btn-hollow,
button.btn.btn-hollow {
	color: #fff;
  	border: 2px solid #fff;
    background-color: transparent;
}
/*.btn-hollow:hover, a.btn.btn-hollow:hover {*/
.btn-hollow:hover, 
btn.btn-hollow:hover,
button.btn.btn-hollow:hover {
    color: #2f2f2f;
    background-color: #fff
}
/*.white a.btn.btn-hollow, 
.bg-white a.btn.btn-hollow, 
.offwhite a.btn.btn-hollow, 
.bg-offwhite a.btn.btn-hollow, 
.lightgray a.btn.btn-hollow, 
.bg-lightgray a.btn.btn-hollow, 
.gray a.btn.btn-hollow, 
.bg-gray a.btn.btn-hollow, 
.darkgray a.btn.btn-hollow,
.bg-darkgray a.btn.btn-hollow {*/
.white button.btn.btn-hollow, 
.white .btn.btn-hollow, 
.bg-white button.btn.btn-hollow, 
.bg-white .btn.btn-hollow, 
.offwhite button.btn.btn-hollow, 
.offwhite .btn.btn-hollow, 
.bg-offwhite button.btn.btn-hollow, 
.bg-offwhite .btn.btn-hollow, 
.lightgray button.btn.btn-hollow, 
.lightgray .btn.btn-hollow, 
.bg-lightgray button.btn.btn-hollow, 
.bg-lightgray .btn.btn-hollow, 
.gray button.btn.btn-hollow, 
.gray .btn.btn-hollow, 
.bg-gray button.btn.btn-hollow, 
.bg-gray .btn.btn-hollow, 
.darkgray button.btn.btn-hollow, 
.darkgray .btn.btn-hollow,
.bg-darkgray button.btn.btn-hollow, 
.bg-darkgray .btn.btn-hollow {
	color: #1abc9c;
	border: 2px solid #1abc9c;
    background-color: transparent;
}
button.btn.btn-hollow:hover, 
.btn.btn-hollow:hover {
    color: #2f2f2f;
    background-color: #fff;
}

/* New button that is partially transparent to let background color show through */
.btn-transparent {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.35);
    color: inherit;
}

.btn-transparent:hover, 
.btn-transparent:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}


.content {
    border: 1px solid #eeeeee;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 20px;
}




/* Wordpress hybrid auth */

    /*
    * Customize 'Connect with:' label
    */
    .wp-social-login-connect-with {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    }
    .wp-social-login-provider-list {
    text-align: center;
    margin-bottom: 15px;
    }
     
    /*
    * Customize the providers buttons
    */
    .wp-social-login-provider {
    width: 120px;
    display: inline-block;
    padding: 5px;
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff !important;
    }
     
    .wp-social-login-provider:hover { color: #ffffff !important; }
     
    /*
    * Set the background color for each provider buttons
    */
    .wp-social-login-provider-facebook { background-color: #3b5998; }
    .wp-social-login-provider-twitter { background-color: #00acee; }
    .wp-social-login-provider-google { background-color: #dd4b39; }
    .wp-social-login-provider-yahoo { background-color: #7f2db5; }
    .wp-social-login-provider-linkedin { background-color: #0e76a8; }
    .wp-social-login-provider-steam { background-color: #171515; }
     
    /*
    * Changing the background color for each button on mouse hover
    */
    .wp-social-login-provider-facebook:hover { background-color: #2f4679; }
    .wp-social-login-provider-twitter:hover { background-color: #0089bd; }
    .wp-social-login-provider-google:hover { background-color: #b03b2d; }
    .wp-social-login-provider-yahoo:hover { background-color: #9652c4; }
    .wp-social-login-provider-linkedin:hover { background-color: #0b5e85; }
    .wp-social-login-provider-steam:hover { background-color: #171515; } 

    .wp-social-login-provider {
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    border-radius: 5px;
    }

 
#loginform .form_heading{
width: 380px;
height: 42px;
background-color: rgb(162, 46, 51);
color: #fff;
padding-top: 15px;
padding-left: 20px;
font-size: 20px;
}

#loginform form{
margin-left: 50px;
}

#loginform label{
clear:both;
margin-right: 200px;
}

#loginform .input{
height: 35px;
width: 270px;
border: 1px solid rgb(201, 201, 201);
background-color: rgb(238, 235, 236);
radius-border: 3px;
}

#wp-submit{
height: 35px;
width: 90px;
border: 1px rgb(162, 46, 51);
background-color: rgb(162, 46, 51);
border-radius: 3px;
color: #fff;
}

#loginform .error-msg{
color: red;
margin-left: 35%;
position: relative;
}
